
@{
    ViewBag.Title = "About Me";
}

<h1> About Me </h1>

<h2> Interests </h2>

<p> My Main interest is computers! I love programming, expecially in teams, and more specifically programming in web development. </p>

<hr />

<h2> Origin Story</h2>

<p> 
    My "story" started in Naperville Illinois, where I moved to Wellington Florida! From there, I left for Texas, and after 8 years away from home I came back to Naperville Illinois. 
    I think its important to be exposed to all parts of the country ( and if you have the chance, the world). However, it's equally important to remember your roots. 
</p>

<hr />

<h2> What's Important</h2>

<p>
    My family, friends, and work are the most important things in my life. 
</p>

