@*<script>

    $(".card").click(function () {
        window.location = $(this).find("a").attr("href");
        return false;
    });

</script>*@


<div class="Hero-Image" style="width:100%;">
    <h1 style="text-align:center; font-size=3.2rem;">Mike Maniatis</h1>
    <h3 style="text-align:center"> @ViewBag.currentTime </h3>
</div>

<br />

<div class="container-fluid">
    <!-- start first row-->
    <div class="row">
        <div class="container">
                <div class="col-md-4">
                    <a href="/WebDev/Index">
                        <div class="card">
                            <img src="../Images/webDev1280.jpg" style="width:100%" />
                            <div class="container">
                                <h4><b>.NET Web Development</b></h4>
                                <p>C# & SQL</p>
                            </div>
                        </div>
                    </a>
                    </div>
            <div class="col-md-4">
                <a href="/WebDesign/Index">
                    <div class="card">
                        <img src="../Images/webDesign1280.jpg" style="width:100%">
                        <div class="container">
                            <h4><b>Web Design</b></h4>
                            <p>HTML/CSS/Javascript</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/Misc/Index">
                    <div class="card">
                        <img src="../Images/misc1280.jpg" style="width:100%">
                        <div class="container">
                            <h4><b>Miscellaneous</b></h4>
                            <p>Java/Python/Journalism</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
   </div>
    <!-- end of first row -->
    <hr />
    <!-- start second row -->
    <div class="row">
        <div class="container">
            <h1 style="text-align: center" id="aboutme"> About Me</h1>

            <div class="col-md-4"> 
                <h2> Hi! </h2>
                <p>Thank you for coming to my website. My Name is Mike Maniatis, and I'm a full-stack web developer. I'm currently a student at the University of Iowa, studying in Computer Science & Journalism. </p>
            </div>

            <div class="col-md-4">
                <h2> As much as I love to work I also like to have fun!</h2>
                <p> My favorite hobbies are fishing, traveling, video games, and coding. Bass fishing is the best kind of fishing (no matter what anyone says), Seattle was my favorite vacation, Counter-Strike: Source will always
                    be my favorite video game, and C# is my favorite language!<p>
            </div>

            <div class="col-md-4">
                <h2> This will be an image of me and lauren!</h2>

            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="container">
            <div class="col-md-4">

                <h2> Reading List: <button id="readNext"></button> </h2>
                    <ol>
                        @{

                            var currentBook = @ViewBag.book1;

                            <li> @currentBook</li>
                        }

                    </ol>

            </div>
        </div>
    </div>
    <!-- end of second row -->
    <hr />

    <!-- start of fourth row -->

    <div class="row">
        <div class="container">
            <h1 style="text-align: center"> Contact Me! </h1>

            <div class="col-md-4">
                <form action="mailto:mikejohnmaniatis@gmail.com" method="post" enctype="text/plain">
                    <p>Name:</p>
                    <input type="text" name="name">
                    <p>E-mail:</p>
                    <input type="text" name="mail">
                    <p>Comment:</p>
                    <input type="text" name="comment" size="50"><br />
                    <input type="submit" value="Send">
                    <input type="reset" value="Reset">
                </form>
            </div>
         </div>
    </div>
    <!-- end of the fourth row-->
</div>